.test{
    color: red;
}
.test1{
    color: rgb(207, 53, 26);
    font-style: italic;
}
.order{
    color: rgb(172, 48, 48);
    font-size:18px ;
}
.unorder{
    color: rgb(172, 48, 48);
    font-size:18px ;
    letter-spacing: 5px;
}

a{
    color: rgb(172, 48, 48);
    font-style: italic; 
}
.para{
    color: brown;

}
.link{
 background-color: yellow;
 text-decoration: none;
}
.color{
    background-color: yellow;
    font-weight: bold;
}
.bold{
    text-decoration: line-through;
    font-weight: bold;
}